.contact-form{
    position: relative;
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact-form form{
    width: 40rem;
}
.form-group{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    margin-bottom: 1rem;
    width: auto;
}
.form-group label{
    color: var(--lightGray);
    font-size: 1.1rem;
}
.form-group input{
    height: 3rem;
    padding-left: 1rem;
    border: 1px solid var(--lightGray);
    border-radius: 0.5rem;
    font-size: 1.2rem;
}
.form-group>input:focus-visible, .form-group>textarea:focus-visible{
    outline: 2px solid var(--orange);
    border: 2px solid var(--orange);
}
.form-group textarea{
    height: 10rem;
    padding-left: 1rem;
    padding-top: 1rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
}
@media screen and (max-width: 768px) {
    .contact-form form{
        width: 100%;
        margin: 0 auto;
    }
    .contact-form button{
        margin-bottom: 1rem;
    }
}